@model workshop5.Models.Agents

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgtFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgtMiddleInitial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtMiddleInitial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgtLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgtBusPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtBusPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgtEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgtPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgtPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgencyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgencyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
