@model workshop5.Models.Agencies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agencies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgncyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyProv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyProv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgncyFax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgncyFax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgencyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
