@model workshop5.Models.Packages

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Packages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>

            <img width="500" height="500" src=@Html.DisplayFor(model => model.Images)>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkgName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkgName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkgStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkgStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkgEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkgEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkgDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkgDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkgBasePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkgBasePrice)
        </dd>
        
       
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PackageId" role="button">Edit</a> 
    <a class="btn btn-primary" asp-action="Index" role="button">Back to List</a> 
    <a class="btn btn-primary" asp-action="Booking" asp-controller="Home" role="button">Book the Package</a>
  
</div>












